<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816280024222-j32l8opsdf6ppd0smt4pli75dtpve95v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816280024222-j32l8opsdf6ppd0smt4pli75dtpve95v</string>
	<key>API_KEY</key>
	<string>AIzaSyC69-Cl6ODLpruvTTAqDFUBAzbgsz8ZbuU</string>
	<key>GCM_SENDER_ID</key>
	<string>816280024222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventFit</string>
	<key>PROJECT_ID</key>
	<string>event-fit-mobiles</string>
	<key>STORAGE_BUCKET</key>
	<string>event-fit-mobiles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816280024222:ios:018b57712b35bb6a6d778f</string>
</dict>
</plist>